cpp/test.xcodeproj/xcuserdata
cpp/test.xcodeproj/project.xcworkspace/xcuserdata
kotlin/.idea
kotlin/build
kotlin/.gradle
python/.idea
kotlin/out
cpp/jason/build/.ninja_deps
cpp/jason/build/.ninja_log
cpp/jason/build/build.ninja
cpp/jason/build/cmake_install.cmake
cpp/jason/build/CMakeCache.txt
cpp/jason/build/compile_commands.json
cpp/jason/build/main
cpp/jason/build/rules.ninja
cpp/jason/build/.cmake/api/v1/query/client-vscode/query.json
cpp/jason/build/.cmake/api/v1/reply/cache-v2-22d587a1de83c17a846f.json
cpp/jason/build/.cmake/api/v1/reply/cmakeFiles-v1-735d0d9286a56b508c99.json
cpp/jason/build/.cmake/api/v1/reply/codemodel-v2-c102de65c152f09b4fce.json
cpp/jason/build/.cmake/api/v1/reply/index-2022-10-14T04-20-42-0571.json
cpp/jason/build/.cmake/api/v1/reply/target-jason-Debug-78591702e812c1d719c5.json
cpp/jason/build/.cmake/api/v1/reply/target-main-Debug-134bc381537c5dd55460.json
cpp/jason/build/CMakeFiles/cmake.check_cache
cpp/jason/build/CMakeFiles/CMakeOutput.log
cpp/jason/build/CMakeFiles/TargetDirectories.txt
cpp/jason/build/CMakeFiles/3.16.2/CMakeCCompiler.cmake
cpp/jason/build/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
cpp/jason/build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
cpp/jason/build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
cpp/jason/build/CMakeFiles/3.16.2/CMakeSystem.cmake
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdC/a.out
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdCXX/a.out
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp/jason/build/CMakeFiles/main.dir/main.cpp.o
cpp/jason/build/CMakeFiles/main.dir/myprint.cpp.o
cpp/jason/build/jason/cmake_install.cmake
cpp/jason/build/jason/libjason.a
cpp/jason/build/jason/CMakeFiles/jason.dir/molest_cpp_11/cpp_molest.cpp.o
cpp/jason/build/target/cmake_install.cmake
cpp/jason/build/target/libjason.a
cpp/jason/build/target/CMakeFiles/jason.dir/molest_cpp_11/cpp_molest.cpp.o
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
.idea/modules/DeepLearning.iml
.gradle/6.1.1/gc.properties
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
android/.idea/.gitignore
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/vcs.xml
