cpp/test.xcodeproj/xcuserdata
cpp/test.xcodeproj/project.xcworkspace/xcuserdata
kotlin/.idea
kotlin/build
kotlin/.gradle
python/.idea
kotlin/out
cpp/jason/build/.ninja_deps
cpp/jason/build/.ninja_log
cpp/jason/build/build.ninja
cpp/jason/build/cmake_install.cmake
cpp/jason/build/CMakeCache.txt
cpp/jason/build/compile_commands.json
cpp/jason/build/main
cpp/jason/build/rules.ninja
cpp/jason/build/.cmake/api/v1/query/client-vscode/query.json
cpp/jason/build/.cmake/api/v1/reply/cache-v2-22d587a1de83c17a846f.json
cpp/jason/build/.cmake/api/v1/reply/cmakeFiles-v1-735d0d9286a56b508c99.json
cpp/jason/build/.cmake/api/v1/reply/codemodel-v2-c102de65c152f09b4fce.json
cpp/jason/build/.cmake/api/v1/reply/index-2022-10-14T04-20-42-0571.json
cpp/jason/build/.cmake/api/v1/reply/target-jason-Debug-78591702e812c1d719c5.json
cpp/jason/build/.cmake/api/v1/reply/target-main-Debug-134bc381537c5dd55460.json
cpp/jason/build/CMakeFiles/cmake.check_cache
cpp/jason/build/CMakeFiles/CMakeOutput.log
cpp/jason/build/CMakeFiles/TargetDirectories.txt
cpp/jason/build/CMakeFiles/3.16.2/CMakeCCompiler.cmake
cpp/jason/build/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
cpp/jason/build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
cpp/jason/build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
cpp/jason/build/CMakeFiles/3.16.2/CMakeSystem.cmake
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdC/a.out
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdCXX/a.out
cpp/jason/build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp/jason/build/CMakeFiles/main.dir/main.cpp.o
cpp/jason/build/CMakeFiles/main.dir/myprint.cpp.o
cpp/jason/build/jason/cmake_install.cmake
cpp/jason/build/jason/libjason.a
cpp/jason/build/jason/CMakeFiles/jason.dir/molest_cpp_11/cpp_molest.cpp.o
cpp/jason/build/target/cmake_install.cmake
cpp/jason/build/target/libjason.a
cpp/jason/build/target/CMakeFiles/jason.dir/molest_cpp_11/cpp_molest.cpp.o
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
.idea/modules/DeepLearning.iml
.gradle/6.1.1/gc.properties
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
android/.idea/.gitignore
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/vcs.xml
cpp/jason/build/Android-debug/.ninja_deps
cpp/jason/build/Android-debug/.ninja_log
cpp/jason/build/Android-debug/build.ninja
cpp/jason/build/Android-debug/cmake_install.cmake
cpp/jason/build/Android-debug/CMakeCache.txt
cpp/jason/build/Android-debug/main
cpp/jason/build/Android-debug/rules.ninja
cpp/jason/build/Android-debug/.cmake/api/v1/query/client-vscode/query.json
cpp/jason/build/Android-debug/.cmake/api/v1/reply/cache-v2-32ed068fdc804bd5fd0c.json
cpp/jason/build/Android-debug/.cmake/api/v1/reply/cmakeFiles-v1-c9794466490a6c888fa4.json
cpp/jason/build/Android-debug/.cmake/api/v1/reply/codemodel-v2-12227aa8e76fd4693012.json
cpp/jason/build/Android-debug/.cmake/api/v1/reply/index-2022-10-18T07-00-56-0665.json
cpp/jason/build/Android-debug/.cmake/api/v1/reply/target-jason-Debug-d6bdbf16ffd178b75e5f.json
cpp/jason/build/Android-debug/.cmake/api/v1/reply/target-main-Debug-1bccad25cde2da1d48e2.json
cpp/jason/build/Android-debug/CMakeFiles/cmake.check_cache
cpp/jason/build/Android-debug/CMakeFiles/CMakeOutput.log
cpp/jason/build/Android-debug/CMakeFiles/TargetDirectories.txt
cpp/jason/build/Android-debug/CMakeFiles/3.16.2/CMakeCCompiler.cmake
cpp/jason/build/Android-debug/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
cpp/jason/build/Android-debug/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
cpp/jason/build/Android-debug/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
cpp/jason/build/Android-debug/CMakeFiles/3.16.2/CMakeSystem.cmake
cpp/jason/build/Android-debug/CMakeFiles/main.dir/main.cpp.o
cpp/jason/build/Android-debug/jason/cmake_install.cmake
cpp/jason/build/Android-debug/jason/libjason.a
cpp/jason/build/Android-debug/jason/CMakeFiles/jason.dir/molest_cpp_11/cpp_molest.cpp.o
cpp/jason/build/Android-release/.ninja_deps
cpp/jason/build/Android-release/.ninja_log
cpp/jason/build/Android-release/build.ninja
cpp/jason/build/Android-release/cmake_install.cmake
cpp/jason/build/Android-release/CMakeCache.txt
cpp/jason/build/Android-release/main
cpp/jason/build/Android-release/rules.ninja
cpp/jason/build/Android-release/.cmake/api/v1/query/client-vscode/query.json
cpp/jason/build/Android-release/.cmake/api/v1/reply/cache-v2-f67f5a393a1a88a8aead.json
cpp/jason/build/Android-release/.cmake/api/v1/reply/cmakeFiles-v1-0a66d26aeb34c5f1affa.json
cpp/jason/build/Android-release/.cmake/api/v1/reply/codemodel-v2-8b1601e04abe236a9162.json
cpp/jason/build/Android-release/.cmake/api/v1/reply/index-2022-10-18T07-00-45-0167.json
cpp/jason/build/Android-release/.cmake/api/v1/reply/target-jason-Release-255aaf40d60f9f11e765.json
cpp/jason/build/Android-release/.cmake/api/v1/reply/target-main-Release-57d9278c885ed3b98c64.json
cpp/jason/build/Android-release/CMakeFiles/cmake.check_cache
cpp/jason/build/Android-release/CMakeFiles/CMakeOutput.log
cpp/jason/build/Android-release/CMakeFiles/TargetDirectories.txt
cpp/jason/build/Android-release/CMakeFiles/3.16.2/CMakeCCompiler.cmake
cpp/jason/build/Android-release/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
cpp/jason/build/Android-release/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
cpp/jason/build/Android-release/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
cpp/jason/build/Android-release/CMakeFiles/3.16.2/CMakeSystem.cmake
cpp/jason/build/Android-release/CMakeFiles/main.dir/main.cpp.o
cpp/jason/build/Android-release/jason/cmake_install.cmake
cpp/jason/build/Android-release/jason/libjason.a
cpp/jason/build/Android-release/jason/CMakeFiles/jason.dir/molest_cpp_11/cpp_molest.cpp.o
